<div>

    <div class="Articles-Buttons-Header">
        <app-button-type parmType="{{parmType}}"></app-button-type>
        <app-button-theme parmTheme="{{theme.name}}"></app-button-theme> 
    </div>

    <div *ngIf="isValid">
        <div class="Articles-Box Style-Margin">
            <app-article-header
                parmType="{{article.type}}"
                parmTheme="{{article.theme}}"
                parmId="{{article.id}}"
            >
            </app-article-header>

            <!-- Component: articles001 - Artigos de 1 a 10 -->
            <app-articles001 parmId="{{article.id}}" *ngIf="articles001"></app-articles001>         

        </div>
    </div>
    <div *ngIf="!isValid">
        <app-page-not-found></app-page-not-found>
    </div>
</div>

