
.Home-Container {
    
}

.Home-Buttons {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Articles-Box {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.Articles-Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}