<div class="Header-Container">
    <div class="Header-Title">{{title}}</div>
    <div class="Header-Right">
        <div class="Header-Icon">
            <a [routerLink]="['/home']">
                <mat-icon class="Icon-Style">menu_outline</mat-icon>
            </a>
        </div>
        <div class="Header-Icon">
            <a [routerLink]="['/contact']">
                <mat-icon class="Icon-Style">mail_outline</mat-icon>
            </a>
        </div>
        <div class="Header-Icon">
            <a [routerLink]="['/about']">
                <mat-icon class="Icon-Style">info_outline</mat-icon>
            </a>
        </div>
    </div>
</div>

