<div>

    <div class="Articles-Buttons-Header">
        <app-button-type parmType="{{parmType}}"></app-button-type>
        <app-button-theme parmTheme="{{theme.name}}"></app-button-theme> 
    </div>
    
    <div class="Articles-Box Style-Margin">
        <div *ngFor="let article of articles">
            <app-article-folder 
                parmType="{{parmType}}"
                parmTheme="{{parmTheme}}"
                parmId="{{article.id}}"
            >
            </app-article-folder>
        </div>
    </div>

</div>

