<div class="Article-Header-Container">

    <a class="Article-Header-Link" [routerLink]="['/article', parmType, parmTheme, parmId ]">
        <div class="Article-Header-Box">
            <div class="Article-Header-Data">
                <div>
                    <img  class="Article-Header-Icon" src="../assets/{{theme.icon}}.png" width="128" height="128" />
                </div>
                <div class="Article-Header-Top">
                        <div class="Article-Header-Top-Left">
                            <div class="Article-Title">{{ article.title }}</div>
                            <div class="Article-Date">
                                <span>{{ article.date  | date: 'dd/MM/yyyy' }}</span>  
                            </div>

                        </div>
                        <div class="Article-Header-Top-Right">
                            <app-article-level level="{{article.level}}"></app-article-level>
                            <div *ngIf="article.isNew">
                                <img src="../../../assets/new-icon.png" />
                            </div>
                        </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="Article-Header-Description">{{ article.description }}</div>
        </div>
    </a>

</div>
