
.Article-Header-Container {
    margin-bottom: 26px;
}

.Card-Container {
    min-width: 60vw;
}
  









.Article-Container {
    background-color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    min-height: 50px;
    border:#ededed;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.Article-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Article-Content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
