
<!-- Artigo 1 - Dica - Angular -->
<div *ngIf="isArticleSelected(1)">

    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>


    <p>Para entender este artigo é necessário saber que quando se cria uma variável para 
        armazenar uma data em javascript, utiliza-se o objeto Date(), e essa data será armazenada com 
        o formato 9999999999999999999999.  
    </p>

    <p>Para entender este artigo é necessário saber que quando se cria uma variável para 
        armazenar uma data em javascript, utiliza-se o objeto Date(), e essa data será armazenada com 
        o formato 9999999999999999999999.  
    </p>
    <p>Se você exibir essa variável data, o qaue será exibido ao usuário do seu aplicativo
        é exatamente como foi armazenada, em seu formato original, e isso muitas vezes não é adequado.  
    </p>
    <p>
        No Angular facilmente você pode formatar a data a ser exibida, para o formato que aqui no Brasil
        comumente utilizamos, ou seja dd/mm/aaaa, utilizando-se um recurso nativo do Angular chamado Pipe.
    </p>

    <app-copy-code>
        import {{cl}}{{cl}}React{{ch}}{{ch}} from './react'<br>
        <span style="color: #67cdfe">azul escuro</span><br>
        <span style="color: #e9c46a">amarelo</span><br>
        <span style="color: #90be6d">verde</span><br>
        <span style="color: #e07a5f">marrom</span><br>
        <span style="color: #ffffff">branco</span><br>
        &nbsp;&nbsp;public valor: string;<br>
        &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string;<br>
        {{ch}}
        &#35;&#35;&#35;   &#34;&#34;   &#123;&#125;

    </app-copy-code>

    <p>
        Não é o objetivo deste artigo esclarecer os conceitos e a utilização de pipes no  
        <a href="http://angular.io" target="_blank">Angular</a>, então 
        vamos direto ao exemplo, para que você possa utilizar na sua aplicação.
    </p>


</div>



<!-- Artigo 2 -->
<div *ngIf="isArticleSelected(2)">
    <h1>********** Artigo 2 **********</h1>
</div>

<!-- Artigo 3 -->
<div *ngIf="isArticleSelected(3)">
    <h1>********** Artigo 3 **********</h1>
</div>

<!-- Artigo 4 -->
<div *ngIf="isArticleSelected(4)">
    <h1>********** Artigo 4 **********</h1>
</div>

<!-- Artigo 5 -->
<div *ngIf="isArticleSelected(5)">
    <h1>********** Artigo 5 **********</h1>
</div>

<!-- Artigo 6 -->
<div *ngIf="isArticleSelected(6)">
    <h1>********** Artigo 6 **********</h1>
</div>

<!-- Artigo 7 -->
<div *ngIf="isArticleSelected(7)">
    <h1>********** Artigo 1 **********</h1>
</div>

<!-- Artigo 8 -->
<div *ngIf="isArticleSelected(8)">
    <h1>********** Artigo 8 **********</h1>
</div>

<!-- Artigo 9 -->
<div *ngIf="isArticleSelected(9)">
    <h1>********** Artigo 9 **********</h1>
</div>

<!-- Artigo 10 -->
<div *ngIf="isArticleSelected(10)">
    <h1>********** Artigo 10 **********</h1>
</div>
