
<!-- Artigo 1 - Dica - Angular -->
<div *ngIf="isArticleSelected(1)">
    <div class="Art-P">Para entender este artigo é necessário saber que quando se cria uma variável para 
        armazenar uma data em javascript, utiliza-se o objeto Date(), e essa data será armazenada com 
        o formato 9999999999999999999999.  
    </div>
    <div class="Art-P">Se você exibir essa variável data, o qaue será exibido ao usuário do seu aplicativo
        é exatamente como foi armazenada, em seu formato original, e isso muitas vezes não é adequado.  
    </div>
    <div class="Art-P">
        No Angular facilmente você pode formatar a data a ser exibida, para o formato que aqui no Brasil
        comumente utilizamos, ou seja dd/mm/aaaa, utilizando-se um recurso nativo do Angular chamado Pipe.
    </div>
    <div class="Art-P">
        Não é o objetivo deste artigo esclarecer os conceitos e a utilização de Pipes no Angular, então 
        vamos direto ao exemplo, para que você possa utilizar na sua aplicação.
    </div>
    <div class="Art-Code">
        myDate | date:'dd/MM/aaaa' 
    </div>
    <div class="Art-Code">
        {{textBox}}
    </div>

</div>

<!-- Artigo 2 -->
<div *ngIf="isArticleSelected(2)">
    <h1>********** Artigo 2 **********</h1>
</div>

<!-- Artigo 3 -->
<div *ngIf="isArticleSelected(3)">
    <h1>********** Artigo 3 **********</h1>
</div>

<!-- Artigo 4 -->
<div *ngIf="isArticleSelected(4)">
    <h1>********** Artigo 4 **********</h1>
</div>

<!-- Artigo 5 -->
<div *ngIf="isArticleSelected(5)">
    <h1>********** Artigo 5 **********</h1>
</div>

<!-- Artigo 6 -->
<div *ngIf="isArticleSelected(6)">
    <h1>********** Artigo 6 **********</h1>
</div>

<!-- Artigo 7 -->
<div *ngIf="isArticleSelected(7)">
    <h1>********** Artigo 1 **********</h1>
</div>

<!-- Artigo 8 -->
<div *ngIf="isArticleSelected(8)">
    <h1>********** Artigo 8 **********</h1>
</div>

<!-- Artigo 9 -->
<div *ngIf="isArticleSelected(9)">
    <h1>********** Artigo 9 **********</h1>
</div>

<!-- Artigo 10 -->
<div *ngIf="isArticleSelected(10)">
    <h1>********** Artigo 10 **********</h1>
</div>
