/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #fafafa;
}

/*
:host {
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body { height: 100%; }
body { 
    background-color: #FAFAFA;
    width: 100%;
    margin: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}    

.spacer {
    flex: 1;
}

.min-heigth-site {
    min-height: 60vh;
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px) {

}
*/

/*--   DECLARAÇÃO DOS ICONES FERRAMENTAS  --*/
/*------------------------------------------*/

.Icon-Angular-128 {
    background-image: url('./assets/angular-128.png');
    background-size: cover;
}